html, body {
  background-color: rgb(37, 34, 34);
}

.App {
  text-align: center;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  gap: 0.5rem
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 650px;
  min-height: 30px;
  color: rgb(19, 7, 247);
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(223, 207, 207);
  border: 2px solid rgb(149, 97, 234);
}
li:hover {
  border: 3px solid rgb(149, 97, 234);
  background-color: rgb(235, 183, 183);
}
.margin {
  margin: 0 5px 0 5px;
}
.del {
  color: rgb(249, 22, 22);
  margin-right: 10px;
  cursor: pointer;
}
.del:hover {
  font-size: large;
}
input:checked + span {
  text-decoration: line-through;
}
.inputTodo {
  width: 400px;
  height: 25px;
  font-size: 16px;
  color: rgb(19, 7, 247);
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(223, 207, 207);
  border: 2px solid rgb(149, 97, 234);
}
.inputTodo:hover {
  border: 3px solid rgb(149, 97, 234);
  background-color: rgb(235, 183, 183);
}

.button {
  color: rgb(19, 7, 247);
  margin-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(223, 207, 207);
  border: 2px solid rgb(149, 97, 234);
}
.button:hover {
  border: 3px solid rgb(149, 97, 234);
  background-color: rgb(235, 183, 183);
}

